{% extends 'VotacioBundle:Default:base.html.twig' %}
{% block body %}
    <section id="missatge">
        <p>Portal en espera de rebre les propostes per aquest 2021.</p>
    </section>
{% endblock %}
