{% extends 'VotacioBundle:Default:base.html.twig' %}
{% block titol %}
    <div id="titol">
        <div><img src="{{asset('img/HEADERIMG.jpg')}} " ></img></div>
        <div class="text">RESULTAT DEL PROCÉS PARTICIPATIU</div>
    </div>
{% endblock %}

{% block header %}
{% endblock %}

{% block body %}
<!--
    <p>El procés participatiu es va dur a terme durant els dies 15 de febrer a 8 de març d’enguany, a través de dos canals:</p>
    <ul>
    <li>presencial, amb les bústies dipositades a l’OAC, a l’Esplai i a la Biblioteca</li>
    <li>on-line, a través d'aquesta web</li>
    </ul>
    <p>Durant el procés es van obtenir un total de 202 vots i les propostes més votades van ser les següents:</p>

    <table>
        <tr>
            <td>Carrer 1</td><td>Carrer Neus Català</td>
        </tr>
        <tr>
            <td>Carrer 2</td><td>Carrer Ramona Guisi</td>
        </tr>
        <tr>
            <td>Carrer 3</td><td>Carrer Pepeta Riera</td>
        </tr>
        <tr>
            <td>Carrer 4</td><td>Carrer Muriel Casals</td>
        </tr>
        <tr>
            <td>Carrer 5</td><td>Carrer Elisabeth Eidenbenz</td>
        </tr>
    </table>


    <p>Per tant, per acord plenari celebrat en data 27/03/2019 es va aprovar la designació dels noms dels carrers, que seran senyalitzats durant el mes d’abril.</p>
    <h1>Gràcies a totes i tots per la vostra participació...!</h1>-->

{% endblock %}{# empty Twig template #}
