{% extends 'VotacioBundle:Default:base.html.twig' %}
{% block titol %}
    <div id="titol">
        <div><img src="{{asset('img/HEADERIMG.jpg')}} " ></img></div>
        <div class="text">RESULTAT DEL PROCÉS PARTICIPATIU</div>
    </div>
{% endblock %}

{% block header %}
{% endblock %}

{% block body %}
  <div class="centre">

    <p>El procés participatiu es va dur a terme durant els dies 1 al 14 de juny, a través de dos canals:</p>
    <ul>
    <li>Presencial, amb les bústies dipositades a l’OAC</li>
    <li>on-line, a través d'aquesta web</li>
    </ul>
    <p>Durant el procés es van obtenir un total de 396 vots i les propostes més votades van ser les següents:</p>

    <table>
      <tr>
        <th>Proposta</th><th>Pressupost</th><th>Total de vots</th>
      </tr>
      <tr>
        <td>Modernitzar una aula de l’Escola Bressol Municipal El Niu</td><td>12.000,00€</td><td>145</td>
      </tr>
      <tr>
        <td>Enllumenat de les escales del carrer Osona a la Pujada de la Balconada</td><td>8.500,00€</td><td>118</td>
      </tr>
      <tr>
        <td>Mural per a la façana de l’Espai Cultural de l’antiga Tèxtil Montserrat</td><td>6.000,00€</td><td>114</td>
      </tr>
    </table>

    <h4>Gràcies a totes i tots per la vostra participació...!</h4>
    </div>

{% endblock %}{# empty Twig template #}
