{% extends 'VotacioBundle:Default:base.html.twig' %}
{% block titol %}
    <div id="titol">
        <div><img src="{{asset('img/HEADERIMG.jpg')}} " ></img></div>
        <div class="text">RESULTAT DEL PROCÉS PARTICIPATIU</div>
    </div>
{% endblock %}

{% block header %}
{% endblock %}

{% block body %}
  <div class="centre">
    <img src="{{asset('img/cartell.jpg')}}"></img>    
  </div>

{% endblock %}{# empty Twig template #}
