<link rel="stylesheet" href="{{ asset('css/login.css') }}" />
<section id="container">
    <div class="title" id="title">Enquestes de l'Ajuntament de Sant Vicenç de Castellet</div>
    <div id="marc">
        <div id="login">
            <form action="" method="post" >
                <table align="center">
                    <tr>
                        <td>
                            {{form_widget(form)}}
                        </td>
                    </tr>
                    <tr>
                        <td>{{form_widget(form)}}</td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</section>
