<div>
    <span class="text">{{ form_label(form.text) }}</span>
    {{ form_row(form.text) }}
    <span class="valor">{{ form_label(form.valor) }}</span>
    {{ form_row(form.valor) }}
    {# render whatever else you like from your Form/PlayerType class... #}
</div>