/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 15/04/2016, 10:01:11
    Author     : montoliuaj
*/@media (max-width:768px) {

        @font-face{
        font-family:Arial;
    }

    footer{
        position: relative;
	      margin-left: auto;
        margin-right: auto;
        text-align: center;
	      height: 180px;
	      clear:both;
    }
    #windowMesInfo{
        z-index: 100;
        position: absolute;
        background-color:rgba(255, 255, 53,0.9);
        margin-left:auto;
        margin-right: auto;
    }
    html{
        font-family:Arial;
    }
    #titol_mobile{
      display: flex;
      align-items: center;
      justify-content: center;
      font-family:Arial;
      width:100%;
      min-height:300px;
      margin-top:0px;
    }#titol_mobile img{
      margin: auto;
    }
    #titol{
        display:none;
        font-family:Arial;
        flex-direction:column;
        justify-content:center;
        width:100%;
        min-height:300px;
        margin-top:0px;
    }#titol .text{
      font-size: 26px;
      font-weight: bold;
      text-align: center;
      color:black;
    }
    #titol small{
        font-size: 15px;
        color:black;
    }
    header{
        width: 100%;
        font-family:Arial;
        font-size:5px;
        width: 80%;
        margin-top:8px;
        margin-right: auto;
        margin-left: auto;
        border-bottom: solid;
        height:50px;
        display:flex;
        flex-direction: row;
        justify-content:center;
    }
    header section.element{
        width: 200px;
        cursor:pointer;
        height: 50px;
        margin-left:50px;
        text-align: center;
        border-style:groove;
        -webkit-transition:0.2s;
        transition:0.2s;
        -moz-transition:0.2s;
    }header section.elementDefault{
        width: 100px;
        height: 20px;
        margin-left:5px;
        font-size: 2em;
        padding:2px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-style:groove;
        -webkit-transition:0.2s;
        transition:0.2s;
        -moz-transition:0.2s;
    }.arrow{
        font-size:15px;
        font-weight: bold;
        width: 25px;
        height: 25px;
        margin-top:5px;
        text-align: center;

    }header section.element.actiu{
        background-color:black;
        color:white;

    }header section.element a{
        color: inherit;
    }
    #description{
        margin-top:75px;
        text-align:justify;
        text-justify:inter-word;
    }#description .child{
      margin-bottom: 150px;
    }
    #tornar{
        float:left;
        padding:5px;
        font-size:10px;
        display:block;
        background-color:#8C2526;
        color:white;
    }#tornar a{
        text-decoration: none;
        color:white;
    }
    .tornar{
        float:right;
        padding:5px;
        font-size:10px;
        display:block;
        background-color:#8C2526;
        color:white;
    }.tornar a{
        text-decoration: none;
        color:white;
    }
    #navbar{
      display: flex;
      justify-content:flex-end;
    }

    #vots{
        /*float:right;*/
        padding:5px;
        font-size:10px;
        display:block;
        background-color:#8C2526;
        color:white;
    }
    #qui{
        /*float:right;*/
        padding:5px;
        font-size:10px;
        display:block;
        background-color:white;
        color:#8C2526;
    }
    section #buttonVotar{
      display: block;
      flex-flow: row;
      justify-content: center;
    }
    #fesVot{
      padding:5px;
      width: 100px;
      margin-left: auto;
      margin-right: auto;
      font-size:12px;
      display:block;
      background-color:white;
      color:#8C2526;
      font-weight: bold;
    }
    #body{
        position:relative;
        display:block;
        width:80%;
        min-height: 400px;
        margin-left: auto;
        margin-right:auto;
        //background-color:#8C2526;
        background-repeat: no-repeat;
    }body section#containerRegistre{
        display: flex;
        margin-right: auto;
        margin-left: auto;
        margin-top:20px;
        width:100%;
        flex-direction:column;
        align-items:center;
        height: auto;
        justify-content: center;
        background-color:#8C2526;

    }body section#containerRegistre .form{
        fonr-size:10px;
        width:80%;
        padding:20px;
        height:auto;
        display:block;
        color:white;
    }body section#containerRegistre .form input.dni{
        height: 20px;
        border-style:dashed;
        border: #000;
        border:1px;
    }body section#containerRegistre .form input.submit{
        background-color: white;
        color:#FA5555;
        font-weight: bold;
        padding:5px;
    }body section#containerRegistre .form table th{
        text-decoration: underline;
        font-size: 20px;

    } body section#container{
        display:flex;
        flex-direction:column;
        width:90%;
        justify-content:center;



    }body section#container article#item{
        display:flex;
        width:90%;
        /*height:auto;*/
        margin-top:50px;
        border: solid;
        border-color:#8c2526;
        /*border: 1px;*/
        /*border-style: solid;*/
        font-family: Arial;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        margin-left: auto;
        margin-right: auto;
        /*background-color: rgba(208, 86, 163,0.3);*/

    }body section#container article#item .titol input{
        width: 25px;
        height: 25px;
        line-height: 25px;

    }body section#container article#item .titol{
        font-weight:bold;
        font-size:18px;
        text-align:center;
        width: 90%;

    }body section#container article#item .vota{
        /*background-color:#8C2526;*/
        display:flex;
        width: 90%;
        flex-flow: column;
        justify-content:center;
        align-items:center;
        font-weight: bold;
        text-align: center;
        margin-bottom: 100px;
        border-bottom:solid;
        border-color:#8c2526;
    }body section#container article#item .out{
        min-height: 25px;
        border-bottom:solid;

        font-weight: bold;
        padding:5px;
        text-align: center;
    }body section#container article#item .out ul{
        list-style-type: none;
        font-size:12px;
        padding:0px;

    }body section#container article#item .vota a{
        cursor: pointer;
        text-decoration: none;
        color:black;
    }body section#container article#item .vota a:link a:hover a:visited{
        text-decoration: none;
        color: black;
    }body section#container article#item .vota img{
        display: block;
        width:90%;
        height:170px;
    }
    body section#container article#item img{
        width:200px;
        height:150px;
    }
    body h1{
        font-family: Arial;
    }

    body table{
        font-family: Arial;
    }
    body section#missatge{
        font-family: Arial;
        font-size: 30px;

    }
    body table.results{
        font-size:18px;
    }
    footer{

    }
    #chart_div{
        display:block;
        width:320px;
        height:320;
    }
    #chkBike{
        cursor: default;
    }
    #chkBike:hover{
        cursor: pointer;
    }
    #imatgepeu{
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

}
@media (min-width:768px) {
    @font-face{
        font-family:Arial;
    }
    html{
        font-family:Arial;
    }
    #titol_mobile{
      display: none;
    }
    #titol{
        font-family:Arial;
        display:flex;
        flex-direction:column;
        justify-content: center;
        text-align: center;
        width: 100%;
        height: 350px;
        color:white;
        margin-top:0px;
        margin-left: auto;
        margin-right: auto;

/*      background-color: #8A4983;  For browsers that do not support gradis
        background: -webkit-linear-gradient(right, #8A4983, #E27CBB);  For Safari 5.1 to 6.0
        background: -o-linear-gradien(right ,#8A4983, #E27CBB);  For Opera 11.1 to 12.0
        background: -moz-linear-gradient(right,#8A4983, #E27CBB);  For Firefox 3.6 to 15
        background: linear-gradient(right,#8A4983, #E27CBB);  Standard syntax */

    }#image{
        display:bloack;
        background-image:url(../img/logoVots.svg);
        width: 150px;
        height: 150px;
        background-repeat:no-repeat;
        background-size:150px,150px;
        float:left;
    }#titol .text{
        text-align: center;
        font-size: 36px;
        color:black;
    }#titol small{
        font-size: 15px;
        color:black;
    }
    #titol #text img{
      width: 100px;
      height: 100px;
    }
    #titol img{
      width: auto;
      height: 300px;

    }
    section #buttonVotar{
      display: block;
      flex-flow: row;
      justify-content: center;
    }
    #fesVot{
      padding:5px;
      width: 100px;
      margin-left: auto;
      margin-right: auto;
      font-size:1em;
      display:block;
      background-color:white;
      color:#8C2526;
      font-weight: bold;
    }
    header{
        width: 100%;
        font-family:Arial;
        width: 80%;
        margin-top:10px;
        margin-right: auto;
        margin-left: auto;
        border-bottom: solid;
        height: 100px;
        display:flex;
        flex-direction: row;
        justify-content:center;
    }
    header section.element{
        width: 200px;
        cursor:pointer;
        height: 50px;
        line-height: 50px;
        margin-left:50px;
        text-align: center;
        border-style:groove;
        -webkit-transition:0.2s;
        transition:0.2s;
        -moz-transition:0.2s;
    }header section.elementDefault{
        width: 200px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left:50px;
        font-size:1em;
        text-align: center;
        border-style:groove;
        -webkit-transition:0.2s;
        transition:0.2s;
        -moz-transition:0.2s;
    }.arrow{
        font-size:20px;
        width: 25px;
        height: 25px;
        margin-top:10px;
        line-height: 25px;
        text-align: center;
        border-radius: 25px;
        border-size:1px;
        margin-left:50px;
        border-style:solid;

    }header section.element.actiu{
        background-color:black;
        color:white;

    }header section.element a{
        color: inherit;
    }
    #description{
        margin-top:175px;
        font-size:20px;
        text-justify:auto;
    }#description .child{
      margin-bottom: 100px;
      text-align: justify;
      text-justify: inter-word;
    }
    #navbar{
      display: flex;
      justify-content:flex-end;
    }

    #vots{
        /*float:right;*/
        padding:5px;
        font-size:1em;
        display:block;
        background-color:#8C2526;
        color:white;
    }
    #qui{
        /*float:right;*/
        padding:5px;
        font-size:1em;
        display:block;
        background-color:white;
        color:#8C2526;
    }
    #tornar{
        float:left;
        padding:5px;
        font-size:15px;
        display:block;
        background-color:#8C2526;
        color:white;
    }#tornar a{
        color:white;
        text-decoration: none;
    }
        .tornar{
        float:right;
        padding:5px;
        font-size:10px;
        display:block;
        background-color:#8C2526;
        color:white;
    }.tornar a{
        text-decoration: none;
        color:white;
    }
    #body{
        position:relative;
        display:block;
        width:80%;
        min-height: 400px;
        margin-left: auto;
        margin-right:auto;
        //background-color:#DF84BD;
        background-repeat: no-repeat;

    }body section#containerRegistre{
        display: flex;
        margin-right: auto;
        margin-left: auto;
        margin-top:20px;
        width: 500px;
        flex-direction:column;
        align-items:center;
        height: auto;
        justify-content: center;
        background-color:#8C2526;

    }body section#containerRegistre .form{
        fonr-size:25px;
        width: 400px;
        padding:20px;
        height:auto;
        text-justify: initial;
        display:block;
        color:white;
    }body section#containerRegistre .form input.dni{
        height: 25px;
        border-style:dashed;
        border: #000;
        border:1px;
    }body section#containerRegistre .form input.submit{
        background-color: white;
        color:#FA5555;
        font-weight: bold;
        padding:5px;
    }body section#containerRegistre .form table th{
        text-decoration: underline;
        font-size: 20px;

    } body section#container{
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
        width: 90%;
        /*justify-content:space-evenly;*/
        align-content:space-between;
        padding:10px;
        margin-top: 50px;

    }body section#container article#item{
        width:200px;
        margin-top:20px;
        font-family: Arial;
        flex-direction:column;
        justify-content: center;
        margin-left: 10px;
        display:flex;
        /*background-color: rgba(208, 86, 163,0.3);*/
    }body section#container article#item .titol{

        font-weight:bold;
        min-height: 170px;
        font-size:18px;
        text-align:center;
        padding: 10px;
    }body section#container article#item .titol input{
        width: 25px;
        height: 25px;
        line-height: 25px;

    }body section#container article#item .vota{
        display: flex;
        flex-direction: column;
        background-color:#8c2526;
        font-weight: bold;
        color:white;
        min-height: 50px;
        text-align: center;
        text-decoration: none;
    }body section#container article#item .out{
        min-height: 25px;
        background-color:#8c2526;
        font-weight: bold;
        padding:5px;
        color:white;
        text-align: center;
    }body section#container article#item .out ul{
        list-style-type: none;
        font-size:12px;
        padding:0px;

    }body section#container article#item .vota a{
        text-decoration: none;
        color:white;
    }body section#container article#item .vota a:link a:hover a:visited{
        text-decoration: none;
    }body section#container article#item img{
        width:200px;
        height:150px;
    }
    body h1{
        font-family: Arial;
    }

    body table{
        font-family: Arial;
    }
    footer{
        position: relative;
	      margin-left: auto;
        margin-right: auto;
        text-align: center;
	      height:50px;
	      clear:both;
        margin-top: 200px;
        margin-bottom:0px;
    }
    #chkBike{
        cursor: default;
    }
    #chkBike:hover{
        cursor: pointer;
    }
    #imatgepeu{
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .centre{
      display: flex;
      flex-direction: column;
      /*align-items: center;*/
      justify-content: center;
    }
    .centre table{
      max-width: 50%;
      border-collapse: collapse;
      border-spacing: 0 1em;

    }.centre tr{
      border-bottom: 1px solid black;

    }
}
